.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  background-color: transparent;
  color: #fff;
  padding: 19px 104px 0;
  height: 80px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header__logo {
  flex-grow: 1;
  margin: 0;
  cursor: pointer;
  font-family: "Roboto Slab", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}
.header__home-btn {
  text-decoration: none;
  border: none;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  margin-right: 42px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
}
.header__sign-in-btn {
  color: #fff;
  text-decoration: none;
  width: 176px;
  cursor: pointer;
  height: 48px;
  border: 1px solid #fff;
  border-radius: 25px;
  background-color: transparent;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
}
.header__logout-btn {
  color: #fff;
  text-decoration: none;
  max-width: 176px;
  cursor: pointer;
  height: 48px;
  border: 1px solid #fff;
  border-radius: 25px;
  background-color: transparent;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  padding: 0 20px 5px;
}
.header__logout-icon {
  position: relative;
  width: 24px;
  height: 24px;
  top: 7px;
}

@media screen and (max-width: 770px) {
  .header__container {
    max-height: 40px;
    padding: 22px 40px 18px;
  }
  .header__sign-in-btn {
    height: 40px;
  }
}
